In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('makaan_Guwahati.csv')

In [3]:
df.head()

,Url,Name,price,posteddate,bhk,features,rate,amenities
0,https://www.makaan.com/listings?propertyType=a...,properties in Guwahati :Makaan.com,NaN,NaN,NaN,NaN,NaN,NaN
1,https://www.makaan.com/guwahati/builder-projec...,1260 sq ft 3 BHK 2T NorthEast facing Apartment...,44.1LEMI,Posted 16 hours ago,"3 BHK Apartment - 1,260 sq ft\nBhetapara, Guwa...",Status\nReady to move\nBathrooms\n2\nNew/Resal...,"3,500/ sq ft",Power Backup\nLift Available\n24 X 7 Security\...
2,https://www.makaan.com/guwahati/evolution-cons...,950 sq ft 2 BHK Apartment for sale at Rs 40.85...,40.85LEMI,Posted 2 months ago,2 BHK Apartment - 950 sq ft\nEvolution Chitra ...,Status\nUnder Construction\nNew/Resale\nNew\nP...,"4,300/ sq ft",Power Backup\nLift Available\n24 X 7 Security\...
3,https://www.makaan.com/guwahati/saroj-parkland...,1630 sq ft 3 BHK 3T Apartment for sale at Rs 6...,62LEMI,Posted a month ago,"3 BHK Apartment - 1,630 sq ft\nSaroj ParklandB...",Status\nUnder Construction\nBathrooms\n3\nNew/...,"3,803/ sq ft",Lift Available\nNot Available\nPower Backup\nN...
4,https://www.makaan.com/guwahati/htn-developers...,1045 sq ft 2 BHK Apartment for sale at Rs 43.8...,43.89LEMI,Posted 7 days ago,"2 BHK Apartment - 1,045 sq ft\nHTN Om PlazaKah...",Status\nUnder Construction\nNew/Resale\nNew\nP...,"4,200/ sq ft",Lift Available\nPower Backup\nNot Available\n2...

In [4]:
df.isna().sum()

Url            0
Name           0
price         21
posteddate    21
bhk           21
features      21
rate          21
amenities     21
dtype: int64

In [5]:
df.shape

(250, 8)

In [6]:
df = df.dropna(thresh=3)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 229 entries, 1 to 249
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Url         229 non-null    object
 1   Name        229 non-null    object
 2   price       229 non-null    object
 3   posteddate  229 non-null    object
 4   bhk         229 non-null    object
 5   features    229 non-null    object
 6   rate        229 non-null    object
 7   amenities   229 non-null    object
dtypes: object(8)
memory usage: 16.1+ KB

In [8]:
df['features'] = df['features'].apply(lambda x: x.split('\n'))

In [10]:
df['Status'] = np.nan
df['Carpet area'] = np.nan
df['Bathrooms'] = np.nan
df['Floor'] = np.nan
df['New/Resale'] = np.nan
df['Additional Rooms'] = np.nan
df['Balconies'] = np.nan
df['Price Negotiable'] = np.nan

In [11]:
df.shape

(229, 16)

In [13]:
y = []
for i in df['features']:
    for j in i:
        if 'Status' in j:
            print(i[i.index(j)+1])
            y.append(i[i.index(j)+1])

df['Status'] = y

Ready to move
Under Construction
Under Construction
Under Construction
Under Construction
Under Construction
Under Construction
Under Construction
Under Construction
Ready to move
Ready to move
Ready to move
Ready to move
Ready to move
Ready to move
Under Construction
Ready to move
Under Construction
Under Construction
Ready to move
Ready to move
Under Construction
Ready to move
Under Construction
Under Construction
Under Construction
Under Construction
Under Construction
Under Construction
Ready to move
Under Construction
Under Construction
Under Construction
Under Construction
Ready to move
Ready to move
Ready to move
Under Construction
Under Construction
Ready to move
Ready to move
Under Construction
Under Construction
Ready to move
Ready to move
Ready to move
Ready to move
Under Construction
Ready to move
Ready to move
Ready to move
Under Construction
Under Construction
Ready to move
Ready to move
Ready to move
Ready to move
Under Construction
Ready to move
Ready to move
Ready to move
Under Construction
Under Construction
Ready to move
Ready to move
Under Construction
Ready to move
Ready to move
Ready to move
Ready to move
Ready to move
Ready to move
Ready to move
Ready to move
Ready to move
Ready to move
Ready to move
Ready to move
Under Construction
Under Construction
Ready to move
Ready to move
Under Construction
Ready to move
Ready to move
Under Construction
Ready to move
Ready to move
Ready to move
Ready to move
Ready to move
Ready to move
Ready to move
Ready to move
Ready to move
Under Construction
Ready to move
Under Construction
Ready to move
Under Construction
Ready to move
Ready to move
Under Construction
Under Construction
Under Construction
Under Construction
Under Construction
Under Construction
Under Construction
Under Construction
Under Construction
Under Construction
Under Construction
Under Construction
Under Construction
Under Construction
Under Construction
Under Construction
Under Construction
Under Construction
Under Construction
Under Construction
Under Construction
Under Construction
Under Construction
Under Construction
Under Construction
Under Construction
Under Construction
Under Construction
Under Construction
Under Construction
Ready to move
Under Construction
Under Construction
Under Construction
Under Construction
Ready to move
Under Construction
Under Construction
Ready to move
Under Construction
Under Construction
Under Construction
Under Construction
Under Construction
Under Construction
Ready to move
Under Construction
Under Construction
Under Construction
Ready to move
Ready to move
Under Construction
Under Construction
Under Construction
Ready to move
Under Construction
Under Construction
Under Construction
Ready to move
Ready to move
Ready to move
Ready to move
Ready to move
Ready to move
Under Construction
Under Construction
Ready to move
Ready to move
Ready to move
Under Construction
Under Construction
Ready to move
Under Construction
Under Construction
Ready to move
Under Construction
Under Construction
Under Construction
Under Construction
Under Construction
Ready to move
Ready to move
Ready to move
Under Construction
Under Construction
Ready to move
Ready to move
Under Construction
Under Construction
Under Construction
Under Construction
Under Construction
Under Construction
Ready to move
Ready to move
Under Construction
Under Construction
Ready to move
Ready to move
Under Construction
Under Construction
Under Construction
Ready to move
Ready to move
Ready to move
Under Construction
Under Construction
Ready to move
Under Construction
Under Construction
Ready to move
Under Construction
Ready to move
Ready to move
Under Construction
Under Construction
Under Construction
Ready to move
Ready to move
Ready to move
Under Construction
Under Construction
Ready to move
Under Construction
Ready to move
Ready to move
Ready to move

In [14]:
for i in df['features']:
    for j in i:
        if 'Carpet area' in i:
            pass
        else:
            i.append('Carpet area')
            i.append('0 sq ft')

y = []
for i in df['features']:
    for j in i:
        if 'Carpet area' in j:
            print(i[i.index(j)+1])
            y.append(i[i.index(j)+1])
            
            
df['Carpet area'] = y

0 sq ft
0 sq ft
0 sq ft
0 sq ft
0 sq ft
0 sq ft
0 sq ft
1200 sq ft
1530 sq ft
0 sq ft
950 sq ft
1050 sq ft
600 sq ft
0 sq ft
950 sq ft
0 sq ft
1350 sq ft
1250 sq ft
1001 sq ft
800 sq ft
1500 sq ft
0 sq ft
0 sq ft
850 sq ft
0 sq ft
990 sq ft
844 sq ft
1500 sq ft
1460 sq ft
0 sq ft
0 sq ft
0 sq ft
0 sq ft
1000 sq ft
1080 sq ft
670 sq ft
0 sq ft
790 sq ft
960 sq ft
0 sq ft
1314 sq ft
1138 sq ft
800 sq ft
0 sq ft
1300 sq ft
0 sq ft
800 sq ft
0 sq ft
1550 sq ft
1150 sq ft
1200 sq ft
1050 sq ft
0 sq ft
1357 sq ft
0 sq ft
0 sq ft
0 sq ft
1304 sq ft
0 sq ft
0 sq ft
965 sq ft
1200 sq ft
1208 sq ft
880 sq ft
675 sq ft
930 sq ft
800 sq ft
0 sq ft
1000 sq ft
1085 sq ft
900 sq ft
0 sq ft
0 sq ft
0 sq ft
0 sq ft
1166 sq ft
1400 sq ft
1048 sq ft
750 sq ft
0 sq ft
0 sq ft
2150 sq ft
1050 sq ft
0 sq ft
1160 sq ft
709 sq ft
800 sq ft
1150 sq ft
0 sq ft
0 sq ft
720 sq ft
1500 sq ft
1765 sq ft
800 sq ft
900 sq ft
0 sq ft
1562 sq ft
0 sq ft
1000 sq ft
1000 sq ft
0 sq ft
0 sq ft
1100 sq ft
950 sq ft
0 sq ft
950 sq ft
780 sq ft
0 sq ft
550 sq ft
1350 sq ft
0 sq ft
1200 sq ft
1200 sq ft
800 sq ft
1000 sq ft
800 sq ft
2250 sq ft
1300 sq ft
1500 sq ft
1250 sq ft
850 sq ft
1000 sq ft
850 sq ft
1350 sq ft
1150 sq ft
1000 sq ft
950 sq ft
1150 sq ft
1180 sq ft
1200 sq ft
1350 sq ft
1200 sq ft
1971 sq ft
860 sq ft
1250 sq ft
1100 sq ft
1097 sq ft
1400 sq ft
1000 sq ft
1150 sq ft
850 sq ft
1180 sq ft
1076 sq ft
1450 sq ft
1300 sq ft
1054 sq ft
1300 sq ft
985 sq ft
1015 sq ft
1050 sq ft
1227 sq ft
0 sq ft
1000 sq ft
1050 sq ft
1050 sq ft
1200 sq ft
0 sq ft
1150 sq ft
1250 sq ft
850 sq ft
0 sq ft
0 sq ft
1080 sq ft
0 sq ft
1180 sq ft
1080 sq ft
985 sq ft
991 sq ft
770 sq ft
0 sq ft
840 sq ft
693 sq ft
1250 sq ft
978 sq ft
1100 sq ft
766 sq ft
360 sq ft
1250 sq ft
1100 sq ft
0 sq ft
1171 sq ft
767 sq ft
1000 sq ft
710 sq ft
991 sq ft
905 sq ft
1084 sq ft
766 sq ft
985 sq ft
1014 sq ft
861 sq ft
835 sq ft
839 sq ft
846 sq ft
950 sq ft
693 sq ft
1197 sq ft
693 sq ft
819 sq ft
0 sq ft
912 sq ft
687 sq ft
1500 sq ft
702 sq ft
0 sq ft
0 sq ft
0 sq ft
890 sq ft
1025 sq ft
689 sq ft
1200 sq ft
722 sq ft
0 sq ft
672 sq ft
0 sq ft
0 sq ft
839 sq ft
585 sq ft
598 sq ft
0 sq ft
1058 sq ft
671 sq ft
963 sq ft
0 sq ft
0 sq ft
942 sq ft
806 sq ft
807 sq ft
0 sq ft

In [15]:
for i in df['features']:
    for j in i:
        if 'New/Resale' in i:
            pass
        else:
            i.append('New/Resale')
            i.append('NaN')

y = []
for i in df['features']:
    for j in i:
        if 'New/Resale' in j:
            print(i[i.index(j)+1])
            y.append(i[i.index(j)+1])
df['New/Resale'] = y

Resale
New
Resale
New
New
New
New
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
New
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
Resale
Resale
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
Resale
NaN
New
NaN
Resale
NaN
Resale
NaN
NaN
NaN
Resale
NaN
NaN
Resale
Resale
Resale
NaN
NaN
Resale
Resale
NaN
Resale
Resale
NaN
Resale
Resale
NaN
Resale
NaN
NaN
Resale
Resale
NaN
Resale
NaN
NaN
NaN
NaN
NaN
NaN
NaN
Resale
Resale
Resale
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
New
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN

In [16]:
for i in df['features']:
    for j in i:
        if 'Bathrooms' in i:
            pass
        else:
            i.append('Bathrooms')
            i.append('NaN')

y = []
for i in df['features']:
    for j in i:
        if 'Bathrooms' in j:
            print(i[i.index(j)+1])
            y.append(i[i.index(j)+1])
df['Bathrooms'] = y

2
NaN
3
NaN
NaN
NaN
NaN
2
3
2
2
2
1
2
2
NaN
2
2
3
2
3
2
2
2
2
2
2
3
3
2
3
3
2
2
2
2
2
2
2
3
2
2
2
2
2
2
2
2
3
3
3
3
NaN
2
2
2
2
3
1
3
2
2
2
2
1
2
2
2
2
2
2
3
2
2
2
3
3
2
2
2
2
4
3
4
2
2
2
2
4
2
2
3
NaN
1
2
2
3
3
2
2
2
3
2
2
2
2
2
2
1
3
NaN
2
2
2
2
2
3
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
4
2
2
2
2
2
2
2
2
2
3
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
1
2
2
1
2
2
2
2
2
2
2
2
2
2
2
3
1
2
2
2
2
2
2
2
2
2
3
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
3
2
2
2
2
2
2
2
2
2
3
2
2
2
2
2
1
2
2
2
2
2
2
4

In [17]:
for i in df['features']:
    for j in i:
        if 'Floor' in i:
            pass
        else:
            i.append('Floor')
            i.append('NaN')

y = []
for i in df['features']:
    for j in i:
        if 'Floor' in j:
            print(i[i.index(j)+1])
            y.append(i[i.index(j)+1])
df['Floor'] = y

NaN
NaN
NaN
NaN
NaN
NaN
NaN
1st of 4
6th of 9
6th of 9
7th of 7
1st of 2
4th of 5
1st of 5
1st of 5
NaN
2nd of 4
2nd of 4
1st of 3
3rd of 3
1st of 4
Gr of 2
5th of 5
Gr of 2
4th of 5
1st of 3
1st of 7
2nd of 3
6th of 9
5th of 14
NaN
NaN
1st of 2
3rd of 4
2nd of 8
2nd of 2
1st of 3
3rd of 3
2nd of 3
9th of 12
1st of 4
6th of 6
2nd of 4
2nd of 4
6th of 6
3rd of 4
2nd of 8
2nd of 7
3rd of 7
4th of 5
NaN
2nd of 6
NaN
4th of 5
NaN
3rd of 3
NaN
5th of 9
1st of 1
2nd of 4
NaN
1st of 3
1st of 2
NaN
NaN
NaN
3rd of 7
5th of 7
NaN
NaN
4th of 4
NaN
NaN
1st of 3
NaN
NaN
5th of 5
NaN
2nd of 4
NaN
NaN
NaN
2nd of 6
NaN
1st of 3
Gr of 3
4th of 6
2nd of 6
NaN
6th of 7
Gr of 3
NaN
NaN
NaN
2nd of 2
NaN
6th of 6
2nd of 4
3rd of 5
1st of 2
1st of 3
NaN
2nd of 3
3rd of 8
1st of 2
2nd of 8
2nd of 4
1st of 4
2nd of 8
4th of 8
NaN
2nd of 5
3rd of 8
3rd of 7
3rd of 8
2nd of 7
7th of 8
6th of 8
3rd of 8
1st of 5
3rd of 4
2nd of 3
2nd of 4
3rd of 4
1st of 4
4th of 7
1st of 3
5th of 7
3rd of 4
1st of 4
3rd of 8
4th
2nd of 4
2nd of 4
3rd of 4
2nd of 3
2nd of 6
2nd of 3
2nd of 4
2nd of 3
2nd of 4
2nd of 8
3rd of 4
6th of 8
4th of 6
5th of 6
2nd of 4
1st of 6
5th of 6
2nd of 3
2nd of 4
5th of 7
5th of 5
2nd of 3
2nd of 5
2nd of 4
3rd of 3
3rd of 3
2nd of 5
2nd of 8
1st of 4
6th of 7
1st of 3
2nd of 6
1st of 4
1st of 3
Gr of 2
1st of 2
1st of 3
2nd of 4
4th of 5
4th of 7
1st of 5
6th of 8
1st of 5
5th of 7
Gr of 4
3rd of 5
2nd of 4
3rd of 5
2nd of 5
1st of 3
3rd of 6
Gr of 3
5th of 5
1st of 3
2nd of 3
1st of 3
4th of 4
3rd of 3
5th of 8
7th of 8
6th of 8
5th of 8
2nd of 3
2nd of 5
3rd of 4
6th of 8
7th of 8
4th of 5
1st of 2
1st of 6
1st of 4
7th of 8
2nd of 2
2nd of 2
4th of 4
1st of 4
2nd of 4
4th of 4
2nd of 4
6th of 8
2nd of 3
7th of 7
2nd of 7
7th of 7
4th of 6
6th of 7
6th of 7
5th of 6
3rd of 8
3rd of 8
2nd of 4
2nd of 2
3rd of 4
2nd of 4
8th of 8
3rd of 8
6th of 7

In [18]:
for i in df['features']:
    for j in i:
        if 'Additional Rooms' in i:
            pass
        else:
            i.append('Additional Rooms')
            i.append('NaN')

y = []
for i in df['features']:
    for j in i:
        if 'Additional Rooms' in j:
            print(i[i.index(j)+1])
            y.append(i[i.index(j)+1])
df['Additional Rooms'] = y

NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
1 rooms(servant room)
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
1 rooms(servant room)
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN

In [19]:
for i in df['features']:
    for j in i:
        if 'Balconies' in i:
            pass
        else:
            i.append('Balconies')
            i.append('NaN')

y = []
for i in df['features']:
    for j in i:
        if 'Balconies' in j:
            print(i[i.index(j)+1])
            y.append(i[i.index(j)+1])
df['Balconies'] = y

NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
1
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
1
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN

In [20]:
for i in df['features']:
    for j in i:
        if 'Price Negotiable' in i:
            pass
        else:
            i.append('Price Negotiable')
            i.append('NaN')

y = []
for i in df['features']:
    for j in i:
        if 'Price Negotiable' in j:
            print(i[i.index(j)+1])
            y.append(i[i.index(j)+1])
df['Price Negotiable'] = y

NaN
No
NaN
No
No
No
No
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
No
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
No
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
No
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN
NaN

In [21]:
df.head(5)

,Url,Name,price,posteddate,bhk,features,rate,amenities,Status,Carpet area,Bathrooms,Floor,New/Resale,Additional Rooms,Balconies,Price Negotiable
1,https://www.makaan.com/guwahati/builder-projec...,1260 sq ft 3 BHK 2T NorthEast facing Apartment...,44.1LEMI,Posted 16 hours ago,"3 BHK Apartment - 1,260 sq ft\nBhetapara, Guwa...","[Status, Ready to move, Bathrooms, 2, New/Resa...","3,500/ sq ft",Power Backup\nLift Available\n24 X 7 Security\...,Ready to move,0 sq ft,2,NaN,Resale,NaN,NaN,NaN
2,https://www.makaan.com/guwahati/evolution-cons...,950 sq ft 2 BHK Apartment for sale at Rs 40.85...,40.85LEMI,Posted 2 months ago,2 BHK Apartment - 950 sq ft\nEvolution Chitra ...,"[Status, Under Construction, New/Resale, New, ...","4,300/ sq ft",Power Backup\nLift Available\n24 X 7 Security\...,Under Construction,0 sq ft,NaN,NaN,New,NaN,NaN,No
3,https://www.makaan.com/guwahati/saroj-parkland...,1630 sq ft 3 BHK 3T Apartment for sale at Rs 6...,62LEMI,Posted a month ago,"3 BHK Apartment - 1,630 sq ft\nSaroj ParklandB...","[Status, Under Construction, Bathrooms, 3, New...","3,803/ sq ft",Lift Available\nNot Available\nPower Backup\nN...,Under Construction,0 sq ft,3,NaN,Resale,NaN,NaN,NaN
4,https://www.makaan.com/guwahati/htn-developers...,1045 sq ft 2 BHK Apartment for sale at Rs 43.8...,43.89LEMI,Posted 7 days ago,"2 BHK Apartment - 1,045 sq ft\nHTN Om PlazaKah...","[Status, Under Construction, New/Resale, New, ...","4,200/ sq ft",Lift Available\nPower Backup\nNot Available\n2...,Under Construction,0 sq ft,NaN,NaN,New,NaN,NaN,No
5,https://www.makaan.com/guwahati/htn-developers...,1375 sq ft 3 BHK Under Construction property A...,57.75LEMI,Posted 7 days ago,"3 BHK Apartment - 1,375 sq ft\nHTN Om PlazaKah...","[Status, Under Construction, New/Resale, New, ...","4,200/ sq ft",Lift Available\nPower Backup\nNot Available\n2...,Under Construction,0 sq ft,NaN,NaN,New,NaN,NaN,No

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 229 entries, 1 to 249
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Url               229 non-null    object
 1   Name              229 non-null    object
 2   price             229 non-null    object
 3   posteddate        229 non-null    object
 4   bhk               229 non-null    object
 5   features          229 non-null    object
 6   rate              229 non-null    object
 7   amenities         229 non-null    object
 8   Status            229 non-null    object
 9   Carpet area       229 non-null    object
 10  Bathrooms         229 non-null    object
 11  Floor             229 non-null    object
 12  New/Resale        229 non-null    object
 13  Additional Rooms  229 non-null    object
 14  Balconies         229 non-null    object
 15  Price Negotiable  229 non-null    object
dtypes: object(16)
memory usage: 30.4+ KB

In [ ]:
#df_test = df['features']
#df_test.to_csv('df_test.csv', sep=',',encoding='utf-8', index=False)